N8N/workflows/01_binance_btc_trades_telegram.json
{
  "name": "Binance BTC Trades → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-320, 240],
      "id": "schedule-trigger-btc",
      "name": "Every 2 minutes"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/trades",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbol", "value": "BTCUSDT" },
            { "name": "limit", "value": "15" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 240],
      "id": "binance-trades",
      "name": "Binance Recent Trades"
    },
    {
      "parameters": {
        "jsCode": "const trades = $input.all();\nif (!trades.length || !trades[0].json?.length) {\n  return [{ json: { skip: true, reason: 'no_trades' } }];\n}\nconst items = Array.isArray(trades[0].json) ? trades[0].json : [trades[0].json];\nconst lines = items.slice(0, 10).map(t => {\n  const side = t.isBuyerMaker ? 'SELL' : 'BUY';\n  const time = new Date(t.time).toISOString();\n  return `• ${side} ${t.qty} BTC @ $${t.price} (${time})`;\n});\nconst text = `🪙 *BTC/USDT* — Last trades\\n\\n` + lines.join('\\n');\nreturn [{ json: { text, parse_mode: 'Markdown', tradesCount: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 240],
      "id": "format-message",
      "name": "Format for Telegram"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "cond-skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 240],
      "id": "filter-skip",
      "name": "Has new trades?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN || 'YOUR_BOT_TOKEN' }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID || 'YOUR_CHAT_ID', text: $json.text, parse_mode: 'Markdown', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 140],
      "id": "telegram-send",
      "name": "Send to Telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 2 minutes": {
      "main": [[{ "node": "Binance Recent Trades", "type": "main", "index": 0 }]]
    },
    "Binance Recent Trades": {
      "main": [[{ "node": "Format for Telegram", "type": "main", "index": 0 }]]
    },
    "Format for Telegram": {
      "main": [[{ "node": "Has new trades?", "type": "main", "index": 0 }]]
    },
    "Has new trades?": {
      "main": [
        [],
        [{ "node": "Send to Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "01-binance-telegram-v1",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": ["trading", "binance", "telegram", "btc"]
}
